:root {
  --text: #333333;
  --module-bg: #ffffff;
  --page-bg: #ddeeee;
  --page-bg-dk: #c7dfdf;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  color: var(--text);
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  gap: max(5vw, 1rem);
  padding: clamp(0.5rem, 5rem, 10vw);
  background: var(--page-bg);
}

@media only screen and (min-width: 800px) {
   body {
    grid-template-columns: 1fr 1fr;
  }
}

form,
#poemOutput {
  padding: max(1.5rem, 5vh);
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1.5rem rgb(0, 0, 0, 0.15);
  height: min-content;
}

/* Form Styling */

form * {
  width: 100%;
}

.inputGroup + .inputGroup {
  margin-top: 2rem;
}

input, textarea {
  margin-top: 0.6rem;
}

textarea {
  height: max(5rem, 25vh);
  resize: vertical;
  font-size: 0.6rem;
}

button {
  background-color: var(--page-bg);
  font-weight: bold;
  padding: 1em;
  border-radius: 0.5rem;
  border-width: 0px;
  box-shadow: 0 0.2rem 0.2rem rgb(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

button:hover,
button:focus-visible {
  transform: scale(1.02);
  background-color: var(--page-bg-dk);
}

/* Poetry Typography */

.poetry {
  line-height: 1.4em;
}

.poetry .line {
  display: inline;
  margin-left: -1em;
  position: relative;
  left: 1em;
  background-color: var(--text);
  padding-bottom: 0.3em;
  transform: 0.6s ease;
}

.poetry mark {
  background-color: var(--module-bg);
  padding: 0 0.2em 0.3em;
}